# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# FVM Version Cache
.fvm/

# dotenv environment variables file
.env
.env.test
.env*.local

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Arquivos e pastas do Dart e Flutter
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
.packages

# O pubspec.lock DEVE ser versionado para garantir que todos os
# desenvolvedores usem as mesmas versões de pacotes.

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Arquivos gerados pelo build_runner
# Isso impede que arquivos como *.g.dart e *.freezed.dart sejam versionados.
# Cada desenvolvedor deve gerar esses arquivos em sua máquina local.
*.g.dart
*.freezed.dart
